 # NetBeans
   /build/
   /dist/
   /nbdist/
   /.nb-gradle/
   
   # Compiled class files
   *.class
   
   # Package Files
   *.jar
   *.war
   *.ear
   
   # Log files
   *.log
   
   # OS Files
   .DS_Store
   Thumbs.db
